*{
    margin:0;
    padding:0;    
    background-color: #FEAD00;
    font-family: 'Titillium Web', sans-serif;
}


.main{
    width:100vw;
    height: 100vh;
}


.app{
    display:flex;
    flex-direction: row;
}


.test1{
    width: 50vw;
    height: auto;
    padding:5%;
}

.description{
    position:relative;
    /* left:40%; */
}

.button1-pb{
    background-color: white;
    color:#FD5800;
    border-radius:3px;
    width: 100px;
    height: auto;
    box-shadow: 1px 1px 2px #888888
}

@media (max-width: 600px) {
    * {
      background-color: lightblue;
    }

    .button1-pb{
        background-color: green;
        color:#FD5800;
        border-radius:3px;
        width: 200px;
        height: auto;
        box-shadow: 1px 1px 2px #888888
    }

    .app{
        display:flex;
        flex-direction: column;
    }

    .test1{
        width: 100vw;
        height: auto;
        padding:5%;
        margin:0 auto;
    }

  }